$dark-background: #222;
$simple-color: white;
$border-color: #D8D8D8;
$box-shadow-color: rgb(248, 0, 0);

$large-media: 1921px;

$default-font-family: 'Open Sans', sans-serif;
$font-color-grey: #aaa;