@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import './variables';
@import './mixins';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: $default-font-family !important;
	line-height: 1.75em !important;
	font-size: 16px !important;
	color: $font-color-grey !important;
}
.simple-container {
	max-width: 70%;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 20px;
}
.simple-print {
	fill: $simple-color;
	stroke: $simple-color;
}
.simple-print svg {
	height: 100%;
}
.simple-close {
	color: $simple-color;
	border-color: $simple-color;
}
.simple-ext-info {
	border-top: 1px solid $font-color-grey;
}
p {
	font-size: 16px;
}
h1 {
	font-size: 30px;
	line-height: 34px;
}
h2 {
	font-size: 20px;
	line-height: 25px;
}
h3 {
	font-size: 16px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid $border-color;
	border-top: 1px solid $border-color;
}
hr {
	height: 1px;
	background-color: $border-color;
	border: none;
	width: 100%;
	margin: 0px;
}
a[href] {
	color: #1e8ad6;
}
a[href]:hover {
	color: #3ba0e6;
}
img {
	max-width: 100%;
}
li {
	line-height: 1.5em;
}
aside,
[class *= "sidebar"],
[id *= "sidebar"] {
	max-width: 90%;
	margin: 0 auto;
	border: 1px solid lightgrey;
	padding: 5px 15px;
}
@media (min-width: $large-media) {
	body {
		font-size: 18px;
	}
}

svg rect {
    fill:transparent;   /* map background colour */
}
.country{
    fill: #0a0a0a;   /* country colour */
    stroke: rgba(5, 239, 247, 0.993); /* country border colour */
	stroke-width: 0.5; /* country border width */
}
.country-on{
    fill: #4B5358;   /* highlight colour for selected country */
}
.countryLabel{
    display: none;   /* hide all country labels by default */
}
.countryName{
    fill: rgb(0, 255, 115);;   /* country label text colour */
}
.countryLabelBg{
    fill: rgb(46, 2, 13);   /* country label background colour */
}

.legendTitle {
	font-size: 16px;
	color: #fff;
	margin-left: -5px;
}

#legend {
	width: 500px;
	position: absolute;
	left: 480px;
	top: 425px;
}

li.key {
	float: left;
	border-top-width: 15px;
	border-top-style: solid;
	color: #fff;
	font-size: 16px;
	width: 10%;
	padding-left: 0;
	padding-right: 0;
	list-style:none;
}