@import 'src/sass/_variables';
@import 'src/sass/_mixins';

.boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px $box-shadow-color;
    -webkit-box-shadow: 1px 2px 4px $box-shadow-color;
    box-shadow:  5px 2px 20px $box-shadow-color;
    padding: 10px;
    background: $dark-background;
    border-radius: 10px;
}

/* Make the image fit the box */
.boxshadowcontent {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

// .boxshadow::after {
//     content: '';
//     position: absolute;
//     z-index: -1; /* hide shadow behind image */
//     -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
//     -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
//     box-shadow: 0 15px 20px rgba(23, 247, 3, 0.3);                
//     width: 70%; 
//     left: 15%; /* one half of the remaining 30% */
//     height: 100px;
//     bottom: 0;
// }
.buttongroup{
  margin: 15px;
}

button{
  background:$dark-background;
  color:#fff;
  border:none;
  position:relative;
  height:30px;
  font-size:0.8em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:$dark-background;
  color:rgb(0, 255, 115);
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(0, 255, 115);;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}