<div class="simple-container">
  <div class="boxshadow">
    <img src="assets/images/glow_map.jpg" />
    <span>
      Map works!
    </span>
  </div>
</div>

<div class="simple-container">
  <div class="svg-wrapper">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
      <a href=""><text x="40" y="25" fill="#aaa" font-size="16">OOP</text></a>
    </svg>
  </div>
  <div class="svg-wrapper">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
      <a href=""><text x="40" y="25" fill="#aaa" font-size="16">AI</text></a>
    </svg>
  </div>
  <div class="svg-wrapper">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
      <a href=""><text x="40" y="25" fill="#aaa" font-size="16">Data Science</text></a>
    </svg>
  </div>
  <div class="svg-wrapper">
    <svg height="40" width="200" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="200" />
      <a href=""><text x="40" y="25" fill="#aaa" font-size="16">Quantum Computing</text></a>
    </svg>
  </div>
</div>
